@using SallesApp.Helpers
@model SallesApp.ViewModel.ProductListViewModel

<div class="container">
    <div class="mb-3">
        <h4>Filtrar por categoria:</h4>
    @await Component.InvokeAsync("MenuCategory")
    </div>
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <partial name="_ProductResume" for="@product" />
            }
        </div>
    </div>
</div>