@model SallesApp.ViewModel.Login.ChangePasswordViewModel
@{
    ViewData["Title"] = "Mudar Senha";
}

<h2>@ViewData["Title"]</h2>

<form id="checkEmailForm" method="post" role="form">
    <div class="uk-margin">
        <label asp-for="Email" class="uk-margin-bottom-small" ></label>
        <div class="uk-form-controls uk-margin">
            <input asp-for="Email" class="uk-input uk-input-small uk-width-1-1" id="emailInput" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="uk-text-right">
            <button type="button" onclick="login.checkEmail('@Url.Action("CheckEmailExists", "Account")')" 
                    id="checkEmailButton" class="uk-button uk-button-default">
                    Verificar Email
            </button>
        </div>
    </div>
</form>

<form id="changePasswordForm" asp-controller="Account" asp-action="ChangePassword" method="post" role="form" style="display:none;">
    <div class="uk-margin">
        <label asp-for="NewPassword" class="uk-margin-bottom-small" ></label>
        <div class="uk-form-controls uk-margin-small-top">
            <input asp-for="NewPassword" class="uk-input uk-input-small uk-width-1-1" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="uk-margin">
        <label asp-for="ConfirmPassword" class="uk-margin-bottom-small" ></label>
        <div class="uk-form-controls uk-margin-small-top">
            <input asp-for="ConfirmPassword" class="uk-input uk-input-small uk-width-1-1" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="uk-text-right">
         <button type="button" class="uk-button uk-button-default uk-margin-top">Mudar Senha</button>
    </div>
</form>

