@model SallesApp.ViewModel.Login.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<input type="hidden" asp-for="ReturnUrl" />
<form asp-controller="Account" asp-action="Login" method="post" role="form"
     class="uk-form-stacked uk-margin-top">
    <div class="uk-margin">
        <label asp-for="Email" class="uk-margin-bottom-small" ></label>
        <div class="uk-form-controls uk-margin-small-top">
            <input asp-for="Email" class="uk-input uk-width-1-1" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="uk-margin">
        <label asp-for="Password" class="uk-margin-bottom-small" ></label>
        <div class="uk-form-controls uk-margin-small-top">
            <input asp-for="Password" class="uk-input uk-input-small uk-width-1-1" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="uk-text-right">
        <button type="submit" class="uk-button uk-button-default uk-margin-top">Login</button>
    </div>
</form>
