@model SallesApp.ViewModel.Login.LoginViewModel
@{
    ViewData["Title"] = "Sing In";
}

<h2>@ViewData["Title"]</h2>

<input type="hidden" asp-for="ReturnUrl" />
<form asp-controller="Account" asp-action="Login" method="post" role="form">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Sign in" />
</form>