@model ShoppingCartViewModel

@if (Model.ShoppingCart.shoppingCartItens.Count > 0)
{
    <a asp-controller="ShoppingCart" asp-action="Index">
        <span><img src="~/images/cart-5-16.ico" /></span>
        <span style="color:whitesmoke">
            @Model.ShoppingCart.shoppingCartItens.Count
        </span>
    </a>    

}